div
  label(for='email') Email Address:
  input(type='text' id='email' name='email')
div
  label(for='first-name') First Name:
  input(type='text' id='first-name' name='first_name')
div
  label(for='last-name') Last name:
  input(type='text' id='last-name' name='last_name')
div
  label(for='password') Password:
  input(type='password' id='password' name='password')
div
  label(for='confirmation') Confirm Password:
  input(type='password' id='confirmation' name='confirmation')
div
  input(type='submit' value='Create Account')
  
