extends layout

block content
  div.wrapper
    div.header
      h1 Add Ingredients to #{recipeName}
    div.content
      div.left
        div
          h2 Add Ingredients:
          div
            form(action='/user/'+userId+'/recipes/'+recipeId+'/'+recipeName+'/ingredients' method='post')
              include includes/ingredients-form
              div
                input(type='submit' value='Add Ingredient!')
          div
            form(action='/user/'+userId method='link')
              input(type='submit' value='Click here when done')
      div.left
        div.ingredient-list
          h2 Ingredients:
          each ingredient in theseIngredients
            li= ingredient.ingredientName
